*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 900; /* Supports range of weights */
  font-style: normal;
}


body {
    font-family: 'Figtree', sans-serif;
    background-color: hsl(210, 46%, 95%);
}

  /* Jessica Randall
  London, United Kingdom
  "Front-end developer and avid reader."

  GitHub
  Frontend Mentor
  LinkedIn
  Twitter
  Instagram */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}

.rol{
    background-color: hsl(0, 0%, 12%);
    width: 26rem;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
}

.rol:hover{
    box-shadow: 0px 0px 10px hsl(75, 94%, 57%);
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 0%);
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.img:hover{
    border: 2px solid hsl(75, 94%, 57%);
}

.info{
    padding-bottom: 1rem;
}

.info h2{
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

.info h2::selection{
    color: hsl(75, 94%, 57%);
    background-color: transparent;
}

.info p{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.description{
    margin-bottom: 2rem;
}

.description p{
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
}

.button{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button-class{
    padding: 1rem 7rem;
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-size: medium;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-class:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 0%);
}